@import "variables";
.blog-wrapper {
  width: 80vw;
  margin: 0 auto;

  @include MQ($tablet) {
    width: 90vw;
  }
}

.blog-header {
  background: url(../assets/blog-header-min.jpg) no-repeat center / cover;

  @include MQ($laptop) {
    height: 60vw;
    min-height: 275px;
  }

  h1 {
    @include barlow(80px, 92px);
    margin-left: 24vw;
    padding-top: 150px;

    @include MQ($laptop) {
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    @include MQ($tablet) {
      padding: 0;
      margin-left: 0;
    }
  }
}

.blog-main {
  padding: 100px 0;

  @include MQ($laptop) {
    padding: 0;
  }
}

.blog-flexbox {
  display: flex;
  justify-content: space-between;

  @include MQ($laptop) {
    flex-direction: column;
  }

  aside {
    width: 25vw;
    background-color: $spruce;
    padding-right: 1vw;

    @include MQ($laptop) {
      width: 100%;
      padding: 0 2% 20px;
      margin-top: -30vw;
      text-align: center;

      h3 {
        margin: 2%;
      }
    }

    div {
      padding: 5px 20px;
    }

    img {
      width: 35vw;
      position: relative;
      right: 10vw;
      top: -1vw;
      padding-right: 1vw;

      @include MQ($laptop) {
        display: none;
      }
    }
  }

  .article-container {
    width: 51vw;
    position: relative;
    top: -400px;
    margin-bottom: -300px;

    @include MQ($laptop) {
      top: 50px;
      width: 100%;

      margin-bottom: 120px;

      article img {
        width: 100%;
        box-shadow: none;
        position: static;
        min-height: 250px;
        object-fit: cover;
      }

      div {
        border: none;
      }
    }
  }

  article {
    padding-bottom: 20px;
    @include MQ($laptop) {
      border: 4px solid $robin-egg-blue;
    }

    h2 {
      margin: 0;
    }

    .byline {
      margin: 0 0 60px 0;
    }

    img {
      position: relative;
      width: calc(59vw - 8.1px);
      left: 2vw;
      top: -20px;
      box-shadow: -2vw 2vw $robin-egg-blue;
    }

    div {
      margin-top: -2vw;
      padding: 3vw 0 20px 2vw;
      border-bottom: 4px solid $robin-egg-blue;
      border-left: 4px solid $robin-egg-blue;
    }
  }
}

.comments {
  padding-left: 2vw;

  @include MQ($tablet) {
    padding: 0;
  }

  .comment {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;

    p {
      padding-left: 20px;

      @include MQ($tablet) {
        padding-left: 10px;
      }
    }

    img {
      width: 90px;
      height: 90px;

      @include MQ($phone) {
        width: 64px;
        height: 64px;
      }
    }
  }

  input,
  textarea {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
  }

  input {
    border-bottom: 2px solid $robin-egg-blue;
    width: 48%;
  }

  textarea {
    border: 2px solid $robin-egg-blue;
    width: 100%;
    margin: 40px 0;
    resize: none;
  }

  button {
    background-color: $spruce;
    width: 100%;
  }

  .comment-row {
    display: flex;
    justify-content: space-between;

    input {
      @include MQ($tablet) {
        width: 100%;
        text-align: center;
      }
    }
  }
}
