@import 'variables';
.blog-header {
    background:
    url(../assets/blog-header.jpg) no-repeat center / cover;

        // width: 100%;

    h1 {
        @include barlow(80px, 92px);
        // width: 70%;
        margin-left: 32vw;
        padding-top: 150px;
    } 
}

.blog-main {
    padding: 100px;
}

.blog-flexbox {
    display: flex;
    justify-content: space-between;
    height: 2000px;

    aside {
        width: 25vw;
        background-color: $spruce;
        padding-right: 1vw;

        div {
            padding: 5px 20px;
        }

        img {
            width: 35vw;
            position: relative;
            right: 10vw;
            top: -1vw;
            padding-right: 1vw;
        }
    }

    .article-container {
        width: 51vw;
        position: absolute;
        // left: calc(4vw - 40px);
        // right: 10vw;
        top: 450px;
        right: calc(10vw - 6px);
    }

    article {
        padding-bottom: 20px;
        // overflow: hidden;
        
        
        h2 {
            margin: 0;
        }
        
        .byline {
            margin: 0 0 60px 0;
        }
        
        
        img {
            width: calc(61vw - 46px);
            position: relative;
            left: 40px;
            top: -40px;

            

            display: block;
            
            box-shadow: -40px 40px $robin-egg-blue;
        }
        
        div {
            margin-top: 0;
            padding: 20px 0 20px 36px;
            border-bottom: 4px solid $robin-egg-blue;
            border-left: 4px solid $robin-egg-blue;
        }
    }
}

.comments {
    // padding-top: 200px;
    padding-left: 40px;

    .comment {
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
        p {
            padding-left: 20px;
        }

        img {
            width: 90px;
            height: 90px;
        }
    }

    // COPIED OVER FROM CONTACTS
    
    input,
    textarea {
        background-color: transparent;
        color: white;
        padding: 10px 20px;
        border: none;
    }
    
    input {
        border-bottom: 2px solid $robin-egg-blue;
        width: 48%;
    }
    
    textarea {
        border: 2px solid $robin-egg-blue;
        width: 100%;
        margin: 40px 0;
        resize: none;
    }

    button {
        background-color: $spruce;
        width: 100%;
    }

        .comment-row {
            display: flex;
            justify-content: space-between;
            // padding: 0 5%;
        }

}









