@import 'variables';

.contact-header {
    background:
    url(../../../assets/contact-header.jpg) no-repeat center / cover;

        width: 100%;
        height: 750px;

    h1 {
        @include barlow(80px, 92px);
        width: 70%;
        margin-left: 30%;
        padding-top: 150px;
    }
    
}

.contact-wrapper {
    position: relative;
    height: 400px;
}



.contact-us {
    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    top: -350px;
    // bottom: 350px;
    right: 0;
    left: 0;
    
    fieldset {
        width: 68%;
        background-color: $spruce;
        border: none;
        box-shadow: -40px 40px $robin-egg-blue;
        padding-top: 100px;
        
        text-align: center;
        
        input,
        textarea {
            background-color: transparent;
            color: white;
            padding: 10px 20px;
            border: none;
        }
        
        input {
            border-bottom: 2px solid $robin-egg-blue;
            width: 48%;
        }
        
        textarea {
            border: 2px solid $robin-egg-blue;
            width: 90%;
            margin: 40px 0;
            resize: none;
        }
        
        button {
            width: 90%;
            margin-bottom: 40px;
        }
    }
}
    
    .details {
        position: relative;
        bottom: -40px;
        width: 30%;
        
        p {
            font-size: 16px;
            line-height: 1.4;
        }
        
        .contact-heading {
            
            p {
                @include barlow(20px, 20px);
                margin: 15px 0;
            }
        
            i {
                padding: 10px;
            
                &:first-of-type {
                    padding-left: 0;
                }
            }
        }
    }
    
    
    
    .input-row {
        display: flex;
        justify-content: space-between;
        padding: 0 5%;
}
