@import "variables";

.contact-header {
  background: url(../assets/contact-header.jpg) no-repeat center / cover;

  width: 100%;
  height: 750px;

  @include MQ($laptop) {
    height: 60vw;
    min-height: 250px
  }

  h1 {
    @include barlow(80px, 92px);
    width: 70%;
    margin-left: 30%;
    padding-top: 150px;

    @include MQ($laptop) {
      margin: 40px 0;
      padding: 0;
      text-align: center;
      width: 100%;
      font-size: calc(2rem + 7vw);
      line-height: 1rem;
    }

    @include MQ($phone) {
        padding-top: 60px;
    }
  }
}

.contact-main {
  .wrapper {
    width: 80vw;

    @include MQ($tablet) {
      width: 90vw;
    }
  }
}

.contact-us {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  top: -350px;
  left: 0;
  right: 0;

  @include MQ($laptop) {
    position: static;
    margin-top: -30vw;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-bottom: 100px;
  }

  @include MQ($phone) {
      margin-top: 0;
  }

  fieldset {
    width: calc(68%);
    background-color: $spruce;
    border: none;
    box-shadow: -2vw 2vw $robin-egg-blue;
    padding-top: 100px;
    margin-bottom: -200px;

    text-align: center;

    @include MQ($laptop) {
      width: 100%;
      padding-top: 20px;
      margin-bottom: 0;
    }

    @include MQ($tablet) {
        box-shadow: none;
        margin: 0 auto;
        width: 90%;
    }

    input,
    textarea {
      background-color: transparent;
      color: white;
      padding: 10px 20px;
      border: none;
    }

    input {
      border-bottom: 2px solid $robin-egg-blue;
      width: 48%;
      @include MQ($tablet) {
        width: 100%;
      }
    }

    textarea {
      border: 2px solid $robin-egg-blue;
      width: 90%;
      margin: 40px 0;
      resize: none;
    }

    button {
      width: 90%;
      margin-bottom: 40px;
    }
  }
}

.details {
  position: relative;
  bottom: -200px;
  width: 30%;

  @include MQ($laptop) {
        bottom: -50px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-wrap: wrap;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
  }

  .contact-heading {
    p {
      @include barlow(20px, 20px);
      margin: 15px 0;
    }

    @include MQ($laptop) {
        margin-right: 20px;
    }

    i {
      padding: 10px;
      font-size: 20px;

      &:first-of-type {
        padding-left: 0;
      }
    }
  }
}

.input-row {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
