@import 'variables';

header {
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url(../../../assets/header-image.jpg) no-repeat center / cover
    ;
    height: 750px;

    h1 {
        text-transform: uppercase;
        color: white;
        @include barlow(138px, 126px);
        width: 30%;
        display: inline-block;
        padding: 50px 0 0 0;
    }

    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include barlow(20px, 29px);
        padding: 10px 5px;
    }

    a:hover,
    a:focus {
        color: $robin-egg-blue;
    }

    ul {
        margin: 0;
        list-style: none;
        text-decoration: none;
        display: flex;

        justify-content: flex-end;

        li {
            margin: 20px 25px;
            padding-top: 10px;

        }

        li:last-of-type {
            margin-right: 0;
        }
    }

    .header-image {
        position: absolute;
        right: 0;
        top: 200px;
    }
}