@import 'variables';

.profile {

    h2 {
        margin: 0 0 20px 0;
    }

    p {
        padding-bottom: 30px;
    }

    button {
        margin: 20px 0 0;
    }

    > img {
        width: 100%;
    }

    .profile-row {
        display: flex;
        justify-content: space-between;
        padding: 100px 0;

        img {
            box-shadow: 30px 30px $robin-egg-blue;
            width: 25%;
            height: 25%;
            object-fit: cover;
            object-position: center;
        }

        .profile-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 67%;

        }

    }
}   

.gallery {

    .wrapper {
        display: flex;
        justify-content: space-between;
    
        img {
            width: 31%;
        }
    }
    
    background-color: $spruce;
    padding: 100px 0;
}