@import './partials/header';
@import './partials/setup';
@import './partials/variables';
@import './partials/intro';
@import './partials/footer';
@import './partials/profile';
@import './partials/featured';
@import './partials/about';
@import './partials/contact';

.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

body {
    background-color: $dark-blue-grey;
    color: white;
}

p {

    font-size: 20px;
    line-height: 32px;
    font-family: 'Lato', sans-serif;
    text-align: left;
    margin: 0;
}

h2,
h3,
.contact-heading {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    @include barlow(42px, 42px);
}

h3,
{
    @include barlow(32px, 32px)
}

button {
    text-transform: uppercase;
    @include barlow(20px,32px);
    letter-spacing: 1px;
    padding: 10px 25px;
    border: none;
}

.read-more {
    color: white;
    background-color: $dark-blue-grey;
}

.find-out {
    color:$dark-blue-grey;
    background-color: $robin-egg-blue;
    margin: 30px 0;
}