@import './partials/header';
@import './partials/setup';
@import './partials/variables';
@import './partials/intro';
@import './partials/footer';
@import './partials/profile';
@import './partials/featured';
@import './partials/about';
@import './partials/contact';
@import './partials/blog';
@import './partials/general';
@import './partials/modal';