header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/header-image-min.jpg) no-repeat center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/header-image-min.jpg) no-repeat center/cover;
  height: 750px;
}

@media screen and (max-width: 768px) {
  header {
    height: 120vw;
  }
}

header h1 {
  text-transform: uppercase;
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: calc(5rem + 5vw);
  line-height: calc(4rem + 5vw);
  width: 30%;
  display: inline-block;
  padding: 50px 0 0 0;
}

@media screen and (max-width: 768px) {
  header h1 {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: calc(3rem + 6vw);
  }
}

header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: calc(1rem + 1vw);
  line-height: 29px;
  padding: 10px 5px;
}

header a:hover, header a:focus {
  color: #86e0f9;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 768px) {
  header ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

header ul li {
  margin: 20px 25px;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  header ul li {
    margin: 5px;
    padding-top: 0;
  }
}

header ul li:last-of-type {
  margin-right: 0;
}

header .header-image {
  position: absolute;
  right: 0;
  top: 200px;
  display: block;
  width: 50vw;
  max-width: 900px;
}

@media screen and (max-width: 768px) {
  header .header-image {
    width: 95vw;
  }
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 200px 0;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 50px 20px;
  }
}

.intro h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer {
  background-color: #86e0f9;
  border-top: 1px solid #0c1423;
  padding: 2px;
}

footer p {
  color: #0c1423;
  text-align: center;
}

.profile h2 {
  margin: 0 0 20px 0;
}

.profile p {
  padding-bottom: 30px;
}

.profile button {
  margin: 20px 0 0;
}

.profile > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 175px;
}

.profile .profile-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}

.profile .profile-row img {
  -webkit-box-shadow: 2vw 2vw #86e0f9;
          box-shadow: 2vw 2vw #86e0f9;
  width: 25%;
  height: 25%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (max-width: 768px) {
  .profile .profile-row img {
    display: none;
  }
}

.profile .profile-row .profile-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 67%;
}

@media screen and (max-width: 768px) {
  .profile .profile-row .profile-text {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .profile .profile-row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding: 40px 0;
  }
}

.gallery {
  background-color: #0f614e;
  padding: 100px 0;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .wrapper img {
  width: 31%;
}

@media screen and (max-width: 1000px) {
  .gallery .wrapper img {
    width: 49%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .gallery .wrapper img:last-of-type {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .gallery .wrapper img {
    width: 90%;
    margin: 0 auto;
  }
  .gallery .wrapper img:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    padding: 20px 0;
  }
}

.featured {
  background-color: #0f614e;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1000px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row .image-container {
  width: 50%;
}

@media screen and (max-width: 1000px) {
  .row .image-container {
    width: 100%;
  }
}

.row .image-container img {
  width: 85%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: 3vw 3vw #86e0f9;
          box-shadow: 3vw 3vw #86e0f9;
  position: relative;
  top: -3vw;
}

@media screen and (max-width: 1000px) {
  .row .image-container img {
    width: 90%;
  }
}

.row .feature {
  width: 50%;
  padding-top: 50px;
}

@media screen and (max-width: 1000px) {
  .row .feature {
    width: 100%;
    text-align: center;
  }
}

.row .feature button {
  margin: 30px 0;
}

.row .feature .wrapper {
  width: 70%;
}

@media screen and (max-width: 450px) {
  .row .feature .wrapper {
    width: 90%;
  }
}

.row:last-of-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 1000px) {
  .row:last-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row:last-of-type .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.row:last-of-type img {
  display: block;
  margin-left: 15%;
  -webkit-box-shadow: -3vw 3vw #86e0f9;
          box-shadow: -3vw 3vw #86e0f9;
  top: 0;
}

@media screen and (max-width: 1000px) {
  .row:last-of-type img {
    margin-left: 10%;
    width: 90%;
  }
}

.row:last-of-type .feature {
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .row:last-of-type .feature {
    text-align: center;
  }
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (220px)[2];
      grid-template-rows: repeat(2, 220px);
  gap: 20px;
  padding: 150px 0 50px;
}

@media screen and (max-width: 1000px) {
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
  }
}

@media screen and (max-width: 1000px) {
  .about {
    padding-top: 50px;
  }
}

.info {
  position: relative;
}

@media screen and (max-width: 1000px) {
  .info {
    margin: 0 5% !important;
    text-align: center;
  }
}

.info:nth-of-type(2n) {
  margin-left: 30px;
}

.info:nth-of-type(2n + 1) {
  margin-right: 30px;
}

.info a {
  color: white;
  text-decoration: none;
}

.info h3 {
  display: inline-block;
  margin: 0;
  padding-bottom: 30px;
}

.info ::before {
  font-size: 27px;
  display: inline-block;
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  background-color: #86e0f9;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #0c1423;
  line-height: 1.9;
  text-align: center;
  left: -70px;
  top: -5px;
}

@media screen and (max-width: 1000px) {
  .info ::before {
    position: relative;
    top: 0;
    left: -10px;
  }
}

.info:first-of-type h3::before {
  content: "\f124";
}

.info:nth-of-type(2) h3::before {
  content: "\f0c0";
}

.info:nth-of-type(3) h3::before {
  content: "\f15b";
}

.info:last-of-type h3::before {
  content: "\f095";
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 80vw;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 95vw;
  }
}

body {
  background-color: #0c1423;
  color: white;
}

p,
input,
textarea {
  font-size: 20px;
  line-height: 32px;
  font-family: "Lato", sans-serif;
  text-align: left;
  margin: 0;
}

h2,
h3,
.contact-heading {
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

button {
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  padding: 10px 25px;
  border: none;
}

.read-more {
  color: white;
  background-color: #0c1423;
}

.find-out {
  color: #0c1423;
  background-color: #86e0f9;
  margin: 30px 0;
}

@media screen and (max-width: 768px) {
  form div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
